<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="heading">CURRENCY CONVERTER</h1>
    <div class="convert">
        <input type="text" class="num" [(ngModel)]="in">
        <select class="drop" [(ngModel)]="inr">
            <option>INR</option>
            <option selected>USD</option>
        </select>
        <input type="number" class="num" [(ngModel)]="out" readonly>
        <select class="drop" [(ngModel)]="usd">
            <option>INR</option>
            <option>USD</option>
        </select>
    </div>
    <input type="button" value="Convert" class="submit-btn" (click)="evaluate()">
</body>
</html>
