<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="nav">
     <a routerLink="comp2" routerLinkActive="active">CONVERTER</a>
     <a routerLink="comp3" routerLinkActive="active">DATE & CASECONVERTER</a>
     <a routerLink="comp4" routerLinkActive="active">IMAGE</a>
      <p class="time">TIME : {{now| date:'HH:mm:ss'}}</p>
    </div>  

  <router-outlet></router-outlet>
</body>
</html>